/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #000000;
  color: #9ad79b;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #111;
  z-index: 10;
}

main {
  position: relative;
  top: 80px;
  padding: 1rem;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  padding: 1rem;
  border: 1px dotted #9ad79b;
  background-color: #000;
}
